<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.segsaude">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SegSaude">

        <!-- TELA DE LOGIN COMO LAUNCHER -->
        <activity
            android:name=".TelaLogin"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- DEMAIS TELAS -->
        <activity android:name=".TelaCadastro" />
        <activity android:name=".TelaPrincipalAdm" />
        <activity android:name=".TelaPrincipalConsultor" />
        <!-- Se não for usar a MainActivity, pode até apagar -->
        <!-- <activity android:name=".MainActivity" /> -->

    </application>
</manifest>
